# Assignment 1

## Q1) Given an array A of N numbers, WAP to print the multiplication of the elements of array A with the corresponding elements of the reverse of Array A.

### Input format:-
The first line contains a number N.
The second line contains N numbers separated by space.

### Output format:-
print the resultant array of elements separated by a space.

In [1]:
def rev_mul(N,A):
    B = []
    B = A[::-1]
    
    for i in range(N):
        B[i] *= A[i]
    
    return B


N = int(input())
values = input()

A = [int(i) for i in values.split(" ")]

result = rev_mul(N,A)

for i in result:
    print(i,end=" ")

3
1 2 3
3 4 3

## Q2) Given a list of numbers, find second maximum and second minimum in this list.

### Input format:-
The first line contains numbers separated by a space.

### output format:-
Print the second maximum and second minimum separated by space.

In [2]:
def second_min_max(A):
    for i in range(len(A)-1):
        for j in range(i+1,len(A)):
            if A[j] < A[i]:
                A[i],A[j] = A[j],A[i]
    second_max = A[len(A)-2]
    second_min = A[1]
    
    return [second_max,second_min]


values = input()
A = [int(i) for i in values.split(" ")]
result = second_min_max(A)

for i in result:
    print(i,end=" ")

2 3 1 -1 2 0 -5 13 4
4 -1

## Q3) Given a list A of numbers, you have to print those numbers which are not multiples of 5.

### Input format:-
The first line contains the numbers of list A separated by a space.

### Output format:-
Print the numbers in a single line separated by a space which are not multiples of 5.

In [3]:
values = input()
A = [int(i) for i in values.split(" ")]
result = [i for i in A if i % 5 != 0]

for i in result:
    print(i,end=" ")

1 2 3 4 5 6 5
1 2 3 4 6

## Q4) You are given a number A which contains only digits 0’s and 1’s. Your task is to make all digits same by just flipping one digit (i.e. 0 to 1 or 1 to 0 ) only. If it is possible to make all the digits same by just flipping one digit then print ’YES’ else print ’NO’.

### Input Format:
The first line contains a number made up of 0’s and 1’s.

### Output Format:
Print ’YES’ or ’NO’ accordingly without quotes.

In [4]:
# Assuming 111 returns YES

def flipper(n):
    count_ones = 0
    count_zeros = 0
    
    for x in n:
        if x == '1':
            count_ones += 1
        else:
            count_zeros += 1
    
    if count_ones == 0 or count_zeros == 0:
        return "YES"
    elif count_ones < 2 or count_zeros < 2:
        return "YES"
    else:
        return "NO"
    

n = input()
result = flipper(n)
print(result)

111
YES

In [5]:
# Assuming 111 returns NO

def flipper(n):
    count_ones = 0
    count_zeros = 0
    
    for x in n:
        if x == '1':
            count_ones += 1
        else:
            count_zeros += 1
    
    if count_ones == 0 or count_zeros == 0:
        return "NO"
    elif count_ones < 2 or count_zeros < 2:
        return "YES"
    else:
        return "NO"
    

n = input()
result = flipper(n)
print(result)

111
NO

## Q5) Given an integer number n, you have to print the factorial of this number.

### Input Format:
A number n.

### Output Format:
Print the factorial of n.

In [6]:
def fact(n):
    if n < 0:
        return -1
    elif n <= 1:
        return 1
    else:
        return n * fact(n-1)
    
    

n = int(input())
result = fact(n)
print(result)

4
24

## Q6) Write a program, which will find all such numbers between m and n (both included) such that each digit of the number is an even number.

### Input Format:
The first line contains value m and n separated by a comma.

### Output Format:
The numbers obtained should be printed in a comma-separated sequence on a single line.

#### Constraints:
1000<=m<=9000

1000<=n<=9000

In [8]:
def all_digits_even(num):
    for digit in str(num):
        if int(digit) % 2 != 0:
            return False
    return True

def result_finder(m,n):
    result = []
    for num in range(m,n+1):
        if all_digits_even(num):
            result.append(str(num))
    return result

limits = input().split(",")
m = int(limits[0])
n = int(limits[1])
even_digit_nums = result_finder(m,n)

print(",".join(even_digit_nums))

1000,4000
2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888,4000